.git/
.github/
.cache/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
venv/
env/
__pycache__/
**/__pycache__/
*.py[cod]

.env
.env.*
log.txt
*.log
*.session
*.session-journal
*.instance.lock
AnonX_6.session
AnonX_6.session-journal
**/cookies/*.txt
firefox-profile/

cache/
downloads/

.DS_Store
Thumbs.db
.idea/
.vscode/

